<%= form_for @eatery do |f| %>

  <% if @eatery.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@eatery.errors.count, "error") %>
            kept this Disney Eatery from being saved:
      </h2>
      <ul>
        <% @eatery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :eatery_name %><br>
    <%= f.text_field :eatery_name %>
  </p>

  <p>
    <%= f.label :eatery_description %><br>
    <%= f.text_area :eatery_description %>
  </p>

  <p>
    <%= f.label :eatery_park %><br>
    <%= f.text_field :eatery_park %>
  </p>

  <div class="field">
    <%= f.label :park %><br>
    <%= f.collection_select :park_ids, Park.all, :id, :name %>
  </div>

  <p>
    <%= f.label :eatery_area %><br>
    <%= f.text_field :eatery_area %>
  </p>

  <p>
    <%= f.submit %>
  </P>
<% end %>
