<%= form_for ([@eatery, @eatery.rates.build]) do |f| %>
  <p>
    <%= f.label :rating_value %><br>
    <%= f.select :rating_value, options_for_select(Rate.pluck(:rating_value, :id)) %>
  </p>
  <p>
    <%= f.label :rating_description %><br>
    <%= f.text_area :rating_description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
